html,body{height:100%;}
div#fancy_overlay{position:fixed;top:0;left:0;width:100%;height:100%;background-color:#666;display:none;z-index:30;}
* html div#fancy_overlay{position:absolute;height:expression(document.body.scrollHeight>document.body.offsetHeight ? document.body.scrollHeight:document.body.offsetHeight+'px');}
div#fancy_wrap{text-align:left;}
div#fancy_loading{position:absolute;height:40px;width:40px;cursor:pointer;display:none;overflow:hidden;background:transparent;z-index:100;}
div#fancy_loading div{position:absolute;top:0;left:0;width:40px;height:480px;background:transparent url('fancy_progress.png') no-repeat;}
div#fancy_loading_overlay{position:absolute;background-color:#FFF;z-index:30;}
div#fancy_loading_icon{position:absolute;background:url('fancy_loading.gif') no-repeat;z-index:35;width:16px;height:16px;}
div#fancy_outer{position:absolute;top:0;left:0;z-index:90;padding:18px 18px 33px 18px;margin:0;overflow:hidden;background:transparent;display:none;}
div#fancy_inner{position:relative;width:100%;height:100%;border:1px solid #BBB;background:#FFF;}
div#fancy_content{margin:0;z-index:100;position:absolute;}
div#fancy_div{background:#000;color:#FFF;height:100%;width:100%;z-index:100;}
img#fancy_img{position:absolute;top:0;left:0;border:0;padding:0;margin:0;z-index:100;width:100%;height:100%;}
div#fancy_close{position:absolute;top:-12px;right:-15px;height:30px;width:30px;background:url('fancy_closebox.png') top left no-repeat;cursor:pointer;z-index:181;display:none;}
#fancy_frame{position:relative;width:100%;height:100%;display:none;}
#fancy_ajax{width:100%;height:100%;overflow:auto;}
a#fancy_left,a#fancy_right{position:absolute;bottom:0;height:100%;width:35%;cursor:pointer;z-index:111;display:none;background-image:url(data:image/gif;base64,AAAA);outline:none;}
a#fancy_left{left:0;}
a#fancy_right{right:0;}
span.fancy_ico{position:absolute;top:50%;margin-top:-15px;width:30px;height:30px;z-index:112;cursor:pointer;display:block;}
span#fancy_left_ico{left:-9999px;background:transparent url('fancy_left.png') no-repeat;}
span#fancy_right_ico{right:-9999px;background:transparent url('fancy_right.png') no-repeat;}
a#fancy_left:hover{visibility:visible;}
a#fancy_right:hover{visibility:visible;}
a#fancy_left:hover span{left:20px;}
a#fancy_right:hover span{right:20px;}
.fancy_bigIframe{position:absolute;top:0;left:0;width:100%;height:100%;background:transparent;}
div#fancy_bg{position:absolute;top:0;left:0;width:100%;height:100%;z-index:70;border:0;padding:0;margin:0;}
div.fancy_bg{position:absolute;display:block;z-index:70;border:0;padding:0;margin:0;}
div.fancy_bg_n{top:-18px;width:100%;height:18px;background:transparent url('fancy_shadow_n.png') repeat-x;}
div.fancy_bg_ne{top:-18px;right:-13px;width:13px;height:18px;background:transparent url('fancy_shadow_ne.png') no-repeat;}
div.fancy_bg_e{right:-13px;height:100%;width:13px;background:transparent url('fancy_shadow_e.png') repeat-y;}
div.fancy_bg_se{bottom:-18px;right:-13px;width:13px;height:18px;background:transparent url('fancy_shadow_se.png') no-repeat;}
div.fancy_bg_s{bottom:-18px;width:100%;height:18px;background:transparent url('fancy_shadow_s.png') repeat-x;}
div.fancy_bg_sw{bottom:-18px;left:-13px;width:13px;height:18px;background:transparent url('fancy_shadow_sw.png') no-repeat;}
div.fancy_bg_w{left:-13px;height:100%;width:13px;background:transparent url('fancy_shadow_w.png') repeat-y;}
div.fancy_bg_nw{top:-18px;left:-13px;width:13px;height:18px;background:transparent url('fancy_shadow_nw.png') no-repeat;}
div#fancy_title{position:absolute;bottom:-33px;left:0;width:100%;z-index:100;display:none;}
div#fancy_title div{color:#FFF;font:bold 12px Arial;padding-bottom:3px;}
div#fancy_title table{margin:0 auto;}
div#fancy_title table td{padding:0;vertical-align:middle;}
td#fancy_title_left{height:32px;width:15px;background:transparent url(fancy_title_left.png) repeat-x;}
td#fancy_title_main{height:32px;background:transparent url(fancy_title_main.png) repeat-x;}
td#fancy_title_right{height:32px;width:15px;background:transparent url(fancy_title_right.png) repeat-x;}
a{color:#3256B6;}
a:visited{color:#cc9;}
a:hover,a:visited:hover{color:#e00;text-decoration:none;}
body{background-color:#2F2F2F;font-family:Verdana,Arial,Helvetica,sans-serif;font-size:80%;padding:0;margin:0;text-align:center;}
h1{font-family:"Trebuchet MS",Verdana,Arial,Helvetica,sans-serif;font-size:250%;font-weight:normal;}
h3{color:#999;font-family:"Trebuchet MS",Verdana,Arial,Helvetica,sans-serif;font-size:180%;font-weight:normal;margin-top:1.5em;margin-bottom:.5em;}
.hidden{display:none;}
.clear{clear:both;}
#page{margin-left:auto;margin-right:auto;width:90%;text-align:left;}
#header{background-color:#637E9F;color:white;font-family:"Trebuchet MS",Verdana,Arial,Helvetica,sans-serif;padding:30px;text-align:left;}
#site-title{color:white;font-size:325%;}
#site-title a,#site-title a:visited{color:white;text-decoration:none;}
#site-title a:hover,#site-title a:hover{color:white;text-decoration:underline;}
#site-subtitle{font-style:italic;letter-spacing:2px;}
#main{background-color:white;border-bottom:4px solid #fc0;float:left;width:100%;}
#content-wrapper{float:left;width:70%;}
#content{padding:25px;border-right:1px dotted #a3a39c;}
#content h1{margin-top:0;}
#content h3 a{border-bottom:1px dotted #a3a39c;display:block;padding-bottom:2px;text-decoration:none;}
#content p{line-height:160%;}
#content .info{color:#b0af99;font-size:80%;margin-top:1.5em;}
#content .entry .info{margin-top:1em;}
#content .first.entry{background-color:#f7f3e8;margin:-25px;margin-bottom:0;padding:25px;}
#content .first.entry h3{margin-top:.25em;}
#sidebar-wrapper{float:right;width:30%;}
#sidebar{font-size:90%;padding:15px;padding-top:0;}
#sidebar h3{font-size:160%;}
#sidebar p{line-height:140%;}
#sidebar ul{margin-left:1.5em;padding:0;}
#sidebar li{margin-bottom:.25em;}
#footer{color:#AFAFAF;float:left;font-size:90%;padding-top:1px;padding-bottom:20px;width:100%;}
#content .floatgal{float:right;padding:10px;}
#content img{vertical-align:middle;}
#menu{clear:both;height:1.9em;padding:0;margin:0;}
#menu ol{float:left;list-style-type:none;width:100%;padding:0;margin:0;}
#menu ol li{float:left;padding:0;margin:0;}
#menu ol li.first{margin-left:2em;}
#menu ol li a{display:block;font-weight:bold;line-height:1.5em;margin:0;padding:.25em 1em .2em;text-align:center;text-transform:uppercase;}
#menu ol li ul{left:-999em;list-style-type:none;position:absolute;width:15em;}
#menu ol li:hover ul,#menu ol li.sfhover ul{left:auto;}
#menu ol li ul li a,#menu ol li ul li.current_page_item a{text-align:left;width:10em;}
#menu{background:#667088 none repeat scroll 0 0;}
#menu ol li a{background:#667088 none repeat scroll 0 0;color:#CCC;text-decoration:none;}
#menu ol li a:hover{background-color:#505050;color:#FFF;}
#menu ol li.current_page_item a{background:#FFF none repeat scroll 0 0;color:#000;}
#menu ol li.current_page_item a:hover{background:#EEE none repeat scroll 0 0!important;color:#000;}
#menu ol li ul li a{background:#777 none repeat scroll 0 0!important;color:#CCC;}
#menu ol li ul li a:hover{background:#777 none repeat scroll 0 0!important;color:#FFF;}
#menu ol li.current_page_item ul li a{background:#EEE none repeat scroll 0 0!important;color:#000;}
#menu ol li.current_page_item ul li a:hover{background:#EEE none repeat scroll 0 0!important;color:#000;}
.right{float:right;}
.vcard{border:1px solid #ccc;background:#fff;padding:10px;margin:10px;}
.vcard .email,.vcard .fn{display:block;}
.vcard .adr{margin-top:5px;margin-bottom:5px;}
.certs{margin:10px;text-align:right;}