<r:layout name="base">
  <div class="entry">
    <h1><r:title /></h1>
    <r:snippet name="images" />

  	<r:if_content part="right"><div class="right"><r:content part="right" /></div></r:if_content>

  	<r:content_for_layout />

    <r:if_content part="extended"><div id="extended">
      <r:content part="extended" />
    </div></r:if_content>

    <r:if_content part="related"><div id="related">
      <h2>Related articles</h2>
      <r:content part="related" />
    </div></r:if_content>

    <r:if_content part="links"><div id="links">
      <h2>Links</h2>
      <r:content part="links" />
    </div></r:if_content>

    <r:snippet name="buttons-share" />
  </div>
</r:layout>
